body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    padding: 30px;
    background-color: bisque;
    height: 60%;
    width: 60%;
}


#counter-button {
    margin: 10px;
    background-color: lightcyan;
}